@{
    ViewData["Title"] = "Không có quyền truy cập";
}

<div class="text-center mt-5">
    <h2>Bạn không có quyền truy cập trang này</h2>
    <p>Vui lòng đăng nhập bằng tài khoản phù hợp.</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">
        Quay về trang chủ
    </a>
</div>