USE [master]
GO
/****** Object:  Database [CoffeeShopDB]    Script Date: 6/27/2026 4:21:35 PM ******/
CREATE DATABASE [CoffeeShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoffeeShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CoffeeShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoffeeShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CoffeeShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeShopDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/27/2026 4:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangs]    Script Date: 6/27/2026 4:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangs](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDon] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietDonHangs] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs]    Script Date: 6/27/2026 4:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMucs] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs]    Script Date: 6/27/2026 4:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[NgayDat] [datetime2](7) NOT NULL,
	[TongTien] [float] NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaSP] [int] NULL,
	[MaNguoiDung] [int] NULL,
 CONSTRAINT [PK_DonHangs] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 6/27/2026 4:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[MatKhauHash] [nvarchar](max) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams]    Script Date: 6/27/2026 4:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[MaDanhMuc] [int] NOT NULL,
	[IsAn] [bit] NOT NULL,
 CONSTRAINT [PK_SanPhams] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260603100240_InitialCreate', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260619151128_ThemCotGhiChu', N'10.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260619170403_ThemCotSanPhamVaoDonHang', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] ON 

INSERT [dbo].[ChiTietDonHangs] ([MaChiTiet], [MaDon], [MaSP], [SoLuong], [GiaBan]) VALUES (3, 3, 3, 1, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHangs] ([MaChiTiet], [MaDon], [MaSP], [SoLuong], [GiaBan]) VALUES (4, 3, 5, 1, CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucs] ON 

INSERT [dbo].[DanhMucs] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (1, N'Cà phê', N'Các loại cà phê')
INSERT [dbo].[DanhMucs] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (2, N'Trà', N'Các loại trà')
INSERT [dbo].[DanhMucs] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (3, N'Nước ép', N'Nước ép trái cây')
SET IDENTITY_INSERT [dbo].[DanhMucs] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs] ON 

INSERT [dbo].[DonHangs] ([MaDonHang], [TenKhachHang], [SoDienThoai], [NgayDat], [TongTien], [TrangThai], [GhiChu], [MaSP], [MaNguoiDung]) VALUES (3, N'User', N'0', CAST(N'2026-06-25T11:22:22.7030166' AS DateTime2), 50000, N'Chờ xử lý', N'', NULL, 5)
SET IDENTITY_INSERT [dbo].[DonHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([MaNguoiDung], [HoTen], [Email], [MatKhauHash], [VaiTro]) VALUES (4, N'Admin', N'Admin@gmail.com', N'AQAAAAIAAYagAAAAEJtM32rmS65UivRKeiY/6KoPymgcWe8DsEzq0dZ6m2cl+ORWQ7gYjRqkHPX3oKCd6g==', N'Admin')
INSERT [dbo].[NguoiDungs] ([MaNguoiDung], [HoTen], [Email], [MatKhauHash], [VaiTro]) VALUES (5, N'User', N'User@gmail.com', N'AQAAAAIAAYagAAAAEMI82Y+RgnZwZvGf/U/oABZxS7/eJV11o+mLX5eWl4vWXETm3L1jxGBPfzvGzUq7rA==', N'User')
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams] ON 

INSERT [dbo].[SanPhams] ([MaSP], [TenSP], [Gia], [HinhAnh], [MaDanhMuc], [IsAn]) VALUES (1, N'Cà phê đen', CAST(20000.00 AS Decimal(18, 2)), N'Capheden.png', 1, 0)
INSERT [dbo].[SanPhams] ([MaSP], [TenSP], [Gia], [HinhAnh], [MaDanhMuc], [IsAn]) VALUES (2, N'Cà phê sữa', CAST(25000.00 AS Decimal(18, 2)), N'Caphesua.png', 1, 0)
INSERT [dbo].[SanPhams] ([MaSP], [TenSP], [Gia], [HinhAnh], [MaDanhMuc], [IsAn]) VALUES (3, N'Bạc xỉu', CAST(30000.00 AS Decimal(18, 2)), N'Bacxiu.png', 1, 0)
SET IDENTITY_INSERT [dbo].[SanPhams] OFF
GO
/****** Object:  Index [IX_ChiTietDonHangs_MaDon]    Script Date: 6/27/2026 4:21:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHangs_MaDon] ON [dbo].[ChiTietDonHangs]
(
	[MaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonHangs_MaSP]    Script Date: 6/27/2026 4:21:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHangs_MaSP] ON [dbo].[ChiTietDonHangs]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangs_MaNguoiDung]    Script Date: 6/27/2026 4:21:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangs_MaNguoiDung] ON [dbo].[DonHangs]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NguoiDungs_Email]    Script Date: 6/27/2026 4:21:36 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_NguoiDungs_Email] ON [dbo].[NguoiDungs]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhams_MaDanhMuc]    Script Date: 6/27/2026 4:21:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhams_MaDanhMuc] ON [dbo].[SanPhams]
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanPhams] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAn]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_DonHangs_MaDon] FOREIGN KEY([MaDon])
REFERENCES [dbo].[DonHangs] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_DonHangs_MaDon]
GO
ALTER TABLE [dbo].[ChiTietDonHangs]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHangs_SanPhams_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPhams] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs] CHECK CONSTRAINT [FK_ChiTietDonHangs_SanPhams_MaSP]
GO
ALTER TABLE [dbo].[DonHangs]  WITH CHECK ADD  CONSTRAINT [FK_DonHangs_NguoiDungs_MaNguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonHangs] CHECK CONSTRAINT [FK_DonHangs_NguoiDungs_MaNguoiDung]
GO
ALTER TABLE [dbo].[SanPhams]  WITH CHECK ADD  CONSTRAINT [FK_SanPhams_DanhMucs_MaDanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucs] ([MaDanhMuc])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams] CHECK CONSTRAINT [FK_SanPhams_DanhMucs_MaDanhMuc]
GO
USE [master]
GO
